XTerm*faceName: SauceCodePro Nerd Font
XTerm*faceSize: 9
XTerm*maximize: true
xterm*metaSendsEscape: true
XTerm*ptyInitialErase: true
XTerm*backarrowKeyIsErase: true
XTerm*vt100.translations: #override \
  Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
  Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
xterm*Background: #282828
xterm*Foreground: #ebdbb2
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
URxvt.scrollBar: false
URxvt.font: xft:SauceCodePro Nerd Font:size=9
Urxvt.boldFont: xft:SauceCodePro Nerd Font:pixelsize=9:weight=bold
